{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de autores</h1>
<ul>
    {% for autor in autores %}
        <li>{{ autor.nombre }} - {{ autor.premio }} - {{autor.edad}}</li>
    {% endfor %}
</ul>

<a href="{{ path('autor_nuevo') }}">Añadir autor</a>

{% endblock %}

