{% endblock %}


{% extends 'base.html.twig' %}


{% block body %}

<h1>Listado de amigos persona</h1>
<ul>
    {% for persona in vectorpersonas %}
        <li>{{ persona.nombre }} - {{ persona.edad}} - {{persona.telefono}}</li>
    {% endfor %}
</ul>

<a href="{{ path('persona_nuevo') }}">Añadir persona</a>

{% endblock %}

